:80 {

    handle /api/* {
        uri strip_prefix /api
        reverse_proxy backend:8000
    }
    handle /amory/api/* {
        uri strip_prefix /amory/api
        reverse_proxy backend:8000
    }
    handle /uploads/* {
        reverse_proxy backend:8000
    }
    handle /amory/* {
        uri strip_prefix /amory
        reverse_proxy frontend:80
    }
    handle /amory {
        redir /amory/ permanent
    }
}
